<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Player by Vue</title>
    <link rel="stylesheet" href="player.css">
    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>
<div id="root">
    <my-player></my-player>
</div>

<template id="player">
    <div id="player-container">
        <div id="head-bar">
            <div id="logo">
                <img src="img/logo.png" alt="logo of player">
                <span>音乐播放器</span>
            </div>
            <div id="search">
                <div id="search-container">
                    <input type="text" placeholder="搜索音乐、歌手、歌词、用户" id="searchinput"/>
                    <input type="button" value="搜索" id="searchbtn">
                </div>
            </div>
            <div id="client">
                <button type="button"><img src="img/client.jpg" alt="client-img"></button>
            </div>
        </div>
        <screen v-bind:info="info" v-bind:playstate="playstate" v-if="info"></screen>
        <div id="footer-container">
            <audio v-bind:src="musicSrc" id="music"></audio>
            <div id = "buttons">
                <button type="button"><span class="strip"></span><span class="previous"></span><span class="previous"></span></button>
                <button type="button" v-show="!playstate" v-on:click="play"><span id="play"></span></button>
                <button type="button" v-show="playstate" v-on:click="pause"><span class="strip"></span><span class="space"></span>
                    <span class="strip"></span></button>
                <button type="button"><span class="next"></span><span class="next"></span><span class="strip"></span></button>
            </div>
        </div>
    </div>
</template>
<template id="screen">
    <div id="screen-bar">
        <div id="sidebar">
            <div id="sidebar-container">
                <div id="album-art">
                    <img v-bind:src="info.imgSrc" alt="专辑封面" />
                </div>
                <div id="btns">
                    <ul>
                        <li><button type="button">喜欢</button></li>
                        <li><button type="button">收藏</button></li>
                        <li><button type="button">下载</button></li>
                        <li><button type="button">分享</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="right-side-bar">
            <div id="info-container">
                <div class="header">
                    <h2>{{info.songName}}</h2>
                </div>
                <div class="content">
                    <span class="name-container">
                        <span class="name">专辑:</span>
                        <span class="text">{{info.album}}</span>
                    </span>
                    <span class="name-container">
                        <span class="name">歌手:</span>
                        <span class="text">{{info.singer}}</span>
                    </span>
                    <span class="name-container">
                        <span class="name">来源:</span>
                        <span class="text">{{info.source}}</span>
                    </span>
                </div>
            </div>
            <div id="lyric-container">
                <div id="lyrics" v-bind:style="{top:'-'+scrollTop+'px'}">
                    <div v-for="(section,index) in info.lyrics" v-html="section">{{section}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    var screen = {
        template:'#screen',
        props:['info','playstate'],
        data:function(){
            return{
                height:[],
                scrollTopArr:[0],
                scrollTop:0,
                degree:0,
                rotateAnimation:'',
                rollingState:0,
                rollingAnimation:[],
                time:[]
            }
        },
        methods:{
            rolling:function(){
                //歌词滚动&高亮显示歌词
                var sections = document.getElementById('lyrics').getElementsByTagName('div');
                var self = this;
                if(this.rollingState == 0){
                    self.rollingAnimation.push(setTimeout(function(){
                        sections[0].className += " " + "highLight";
                    },self.time[0]*1000));
                    this.rollingState++;
                }
                for(var m=this.rollingState,len = self.height.length;m<len;m++){
                    (function(m){
                        self.rollingAnimation.push(setTimeout(function(){
                            self.scrollTop = self.scrollTopArr[m];
                            sections[m].className += " " + "highLight";
                            sections[m-1].className = sections[m-1].className.replace(/highLight/,'');
                        },self.time[m]*1000));
                    })(m);
                }
            },
            rotate:function(){
                var ele = document.getElementById('album-art');
                var self = this;
                self.rotateAnimation = setInterval(function(){
                    self.degree = self.degree + 1;
                    ele.style.transform ='rotate('+self.degree+'deg)';
                },50);
            },
            stop:function(){
                //更新时间
                for(var i = 0,len=this.time.length;i<len;i++){
                    this.time[i]=this.info.time[i]-this.info.currentTime;
                }
                this.rollingState = this.scrollTopArr.indexOf(this.scrollTop);
                if((this.rollingState == 0 && this.info.currentTime >= this.info.time[0]) || this.rollingState > 0){
                    this.rollingState++;
                }
                clearInterval(this.rotateAnimation);
                for(var j=0,len=this.rollingAnimation.length;j<len;j++){
                    clearTimeout(this.rollingAnimation[j]);
                }
                this.rollingAnimation = [];
            }
        },
        mounted:function(){
            var self = this;
            setTimeout(function(){
                //渲染完成后，获取div高度值
                var selfScrollTop = 0;
                var sections = document.getElementById('lyrics').getElementsByTagName('div');
                for(var k = 0,len = sections.length;k < len;k++){
                    self.height.push(sections[k].offsetHeight);
                    selfScrollTop += sections[k].offsetHeight;
                    self.scrollTopArr.push(selfScrollTop);
                    self.time.push(self.info.time[k]);
                }
            },300);
        },
        watch:{
            playstate:function(newPlaystate){
                if(newPlaystate === true){
                    this.rotate();
                    this.rolling();
                }else{
                    this.stop();
                }
            }
        }
    }
    Vue.component('my-player',{
        template:'#player',
        data:function(){
            return{
                info:{
                    imgSrc:'',
                    singer:'',
                    songName:'',
                    album:'21',
                    source:'百词斩',
                    lyrics:[],
                    time:[],
                    currentTime:0
                },
                musicSrc:'',
                playstate:false,
            }
        },
        created:function(){
            var url="http://cg.baicizhan.com/topics/get_data?id=1091";
            this.$http.get(url).then(function(response){
                var json = response.body;
                var jsonContent = JSON.parse(json.content);
                this.musicSrc = 'http://cg.baicizhan.com/resource/'+jsonContent.info.audio.src;
                this.info.imgSrc = 'http://cg.baicizhan.com/resource/'+jsonContent.info.image.src;
                this.info.songName = jsonContent.info.song_name;
                this.info.singer = jsonContent.info.singer;
                var lyricsHtml = '';
                for(var i = 0,len = jsonContent.lyrics.length;i<len;i++){
                    this.info.time.push(jsonContent.lyrics[i].start);
                    lyricsHtml = jsonContent.lyrics[i].text.replace(/<span[^>]*>/g,'');
                    lyricsHtml = lyricsHtml.replace(/<\/span>/g,'');
                    this.info.lyrics.push(lyricsHtml);
                }
            });
        },
        methods:{
            play:function(){
                this.playstate = true;
                var audio = document.getElementById('music');
                audio.play();
            },
            pause:function(){
                this.playstate = false;
                var audio = document.getElementById('music');
                audio.pause();
                this.info.currentTime = audio.currentTime;
            }
        },
        components: {
            'screen':screen
        }
    })
    var root = new Vue({
        el:'#root'
    });

</script>
</body>
</html>